*{
    margin: 0;
    padding: 0;
}
.body{
    text-align: center;
}
header{
    font-family: 'Times New Roman', Times, serif;
    background-color: pink;
    color: black;
    height: 900px;
}

.header-logo{
    text-align: center;
    padding: 20PX;
}

.header-logo h1 {
    font-size: 45px;
    font-weight: 300;
    color: black;
}

.type1{
    width: 30%;
    display: block;
    margin: 0px auto;
}