*{
    margin: 0;
    padding: 0;
}
header{
    font-family: 'Times New Roman', Times, serif;
    background-color: pink;
    color: black;
    height: 1900px;
}

.header-logo{
    text-align: center;
    padding: 20PX;
}

.header-logo h1 {
    font-size: 45px;
    font-weight: 300;
    color: black;
}
.main-container img{
    float: left;
    width: 400px;
    height: 300PX;
    padding: 140px;
}
