*{
    margin: 0;
    padding: 0;
}
.main-container{
    background-color: rgb(186, 132, 132);
    color: black;
    height: 800px;
}
.main-container h1{
    font-size: 100px;
    color: black;
}

.main-container h2{
    font-size: 20px;
}
.main-container p{
    text-align: left;
    font-size: 20px;
}
.main-container img{
    align: left;
    float: left;
    margin: 5px;
    width: 300px;
    height: 300PX;
    padding: 30PX;
}
