/* Reset CSS*/
*{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(155, 123, 123);
    color: black;
    height: 100px;
}

.header-logo{
    float: left;
    padding: 0px 40px;
}

.header-logo h1 {
    font-size: 45px;
    font-weight: 300;
    color: black;
}
 
.header-logo h2{
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    color: black;
}
.sidebar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    left: 0;
    width: 130px;
    height: 600px;
    background: rgb(201, 188, 173);
}
.sidebar ul li{
    padding: 25px;
    display: block;
    line-height: 100px;
    font-size: 19px;
    text-align: center;
    color: black;
}
.navigation li a{
    color: black;
    text-decoration: none;
}
.navigation li a:hover{
    color: rgb(224, 105, 144);
    transition: all .2S ease-in-out;
}
.section{
    background: url(bgron.jpeg) no-repeat;
    background-position: right;
    background-size: 95%;
    height: 600px;
}
.footer{
    width: 100%;
    height: 90px;
    background: rgb(155, 123, 123);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    font-family: 'Times New Roman', Times, serif;
    padding: 60px;
}
